body {
  font-family: monospace;
}

.form {
  margin-left: 280px;
  margin-right: 280px;
}

.card {
  position: relative;
  margin-right: 100px;
  margin-bottom: 50px;
  background-color: black !important;
}

.card1 {
  position: relative;
  margin-left: 200px
}

img {
  width: 100%;
  height: 100%;
  display: none;
}

img.display {
  display: block;
}

.title {
  font-size: 30px;
  color: white;
}

#movie-input {
  font-family: monospace;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: transparent;
  color: white;
}

#search-button {
  font-family: monospace;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  background-color: transparent;
  color: white;
}

.list {
  list-style-type: none;
}

li {
  list-style-type: none;
  display: none;
}

li.display {
  display: block;
  color: white;
}

.card1:before,
.card1:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.card1:after {
  filter: blur(50px);
}
