body {
    font-family: monospace;

***REMOVED***

.form {
    margin-left: 200px;
    margin-right: 200px;
***REMOVED***

.card {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
***REMOVED***


img {
    width: 100%;
    height: 100%;
    display: none;
***REMOVED***

img.display {
    display: block;
***REMOVED***

.title {
    font-size: 30px;
    margin-left: -75px

***REMOVED***


#movie-input {
    font-family: monospace;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
***REMOVED***

#search-button {
    font-family: monospace;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
***REMOVED***

.list {
    list-style-type: none;
    margin-left: -75px
***REMOVED***

li {
    list-style-type: none;
    display: none;
***REMOVED***

li.display {
    display: block;
***REMOVED***


  .card1 {
    position: relative;  
    margin-left: 150px
  ***REMOVED***
  
  .card1:before, .card1:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  ***REMOVED***

  
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    ***REMOVED***
    50% {
      background-position: 400% 0;
    ***REMOVED***
    100% {
      background-position: 0 0;
    ***REMOVED***
  ***REMOVED***
  
  .card1:after {
    filter: blur(50px);
  ***REMOVED***




